<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @article.name %>
</p>

<p>
  <strong>Steps:</strong>
  <% steps = @article.body %>
  <%= simple_format(steps) %>
</p>

<p>
  <strong>Tags:</strong>
  <% tags = @article.tags %>
  <%= tags %>
</p>

<% if current_admin %>
<%= link_to 'Edit', edit_article_path(@article) %>
<%= link_to 'Back', :back %>
<% else %>
<%= link_to 'Back', :back %>
<% end %>
